
body {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: rgb(45, 60, 69);
}

#gradient {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 80vh;
    min-height: 25rem;
    background-image:
    linear-gradient(90deg, rgb(45, 60, 69)0%, rgba(45, 60, 69, 0.8) 15%, rgba(45, 60, 69, 0.15) 20%, rgba(45, 60, 69, 0)100%),
    linear-gradient(270deg, rgb(45, 60, 69)0%, rgba(45, 60, 69, 0.8) 15%, rgba(45, 60, 69, 0.15) 20%, rgba(45, 60, 69, 0)100%),
    linear-gradient(0deg, rgb(45, 60, 69)0%, rgba(45, 60, 69, 0.8) 15%, rgba(45, 60, 69, 0.325) 25%, rgba(45, 60, 69, 0)100%),
    linear-gradient(180deg, rgb(45, 60, 69)0%, rgba(45, 60, 69, 0.8) 15%, rgba(45, 60, 69, 0.325) 25%, rgba(45, 60, 69, 0)100%);
    background-size: cover;
    padding: 10px;
    z-index: 0;
}

#gradient-two{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    padding: 10px;
    background-image: linear-gradient(0deg, rgb(19, 22, 24) 0%, rgba(19, 22, 24, 0.2) 50%, rgba(45, 60, 69, 0) 100%);
    z-index: 0;
}

#top {
    height: .5rem;
}

#center {
    display: flex;
    justify-content: center;
    min-height: fit-content;
}

#bottom {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    margin-bottom: 10px;
}

#slider-container {
    height: 3rem;
    margin-top: .7rem;
    margin-bottom: calc(-2rem + 3.5vh);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resolution-slider {
    width: 80vh;
    min-width: 23rem;
    max-width: 94vw;
    z-index: 1;
}
input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    background: rgb(91, 118, 133);
    height: 1.25rem;
    border-radius: .3rem;
}

input[type=range]::-moz-range-track {
    background: rgb(91, 118, 133);
    height: 1.25rem;
    border-radius: .3rem;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: .3rem;
    background: rgb(163, 118, 13);
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 1.5rem;
    width: 1rem;
    border-radius: .3rem;
    background: rgb(163, 118, 13);
}

#button-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

#spacer {
    width: 38vh;
    min-width: 10rem;
    max-width: 50vw;
}

#grid-container {
    display: grid;
    height: 80vh;
    width: 80vh;
    max-height: 94vw;
    max-width: 94vw;
    min-height: 23rem;
    min-width: 23rem;
    border-color: rgb(163, 118, 13);
    background-color: black;
    overflow: hidden;
    border-style: solid;
    padding: 7px;
    border-width: 2px;
    border-radius: .3rem;
    z-index: 1;
    margin: 0vw -.2vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.742);
}

.text-border {
    max-width: .9em;
    min-width: 1vw;
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: calc(1.75rem + 2.25vh);
    letter-spacing: 2vh;
    font-weight: 200;
    writing-mode: vertical-lr;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: -1;
}

.text-border.one {
    transform: rotate(180deg);
    margin-right: calc(4.75vw - 1.4em);
    margin-bottom: .25em;
}

.text-border.two {
    margin-left: calc(4.75vw - 1.4em);
    margin-top: .25em;
}

button {
    width: 4.7em;
    height: 1.8em;
    font-family: Montserrat, sans-serif;
    font-size: calc(.5rem + 2vh);
    font-weight: 700;
    letter-spacing: .1em;
    border-radius: .3rem;
    border-style: solid;
    background-color: rgb(91, 118, 133);
    border-color: rgba(163, 118, 13, 0.693);
    border-width: 2px;
    color: rgba(245, 245, 245, 0.749);
    z-index: 1;
}

label {
    color: rgb(91, 118, 133);
    font-family: Montserrat, sans-serif;
    font-size: calc(.5rem + 2.75vh);
    font-weight: 900;
    margin-top: .2rem;
    margin-left: .1rem;
    letter-spacing: .1em;
    z-index: 1;
}

button:hover {
    transform: scale(1.005);
    border-color: rgb(163, 118, 13);
    color: rgb(245, 245, 245);
    transition: 0.07s;
}

button:active {
    background-color: rgb(45, 66, 76);
    background-image: linear-gradient(180deg, rgb(31, 40, 46) 0%, rgba(37, 52, 59, 0.5) 10%, rgba(37, 52, 59, 0.2) 20%,rgba(54, 78, 90, 0) 100%),
    linear-gradient(90deg, rgb(31, 40, 46) 0%, rgba(37, 52, 59, 0.5) 3%, rgba(37, 52, 59, 0.2) 6%,rgba(54, 78, 90, 0) 100%),
    linear-gradient(270deg, rgb(31, 40, 46) 0%, rgba(37, 52, 59, 0.5) 3%, rgba(37, 52, 59, 0.2) 6%,rgba(54, 78, 90, 0) 100%),
    linear-gradient(360deg, rgb(31, 40, 46) 0%, rgba(37, 52, 59, 0.5) 10%, rgba(37, 52, 59, 0.2) 20%,rgba(54, 78, 90, 0) 100%);
    color: rgba(245, 245, 245, 0.931);
    border-color: rgb(177, 128, 15);
}

button.toggle {
    background-color: rgb(45, 66, 76);
    background-image: linear-gradient(180deg, rgb(31, 40, 46) 0%, rgba(37, 52, 59, 0.5) 10%, rgba(37, 52, 59, 0.2) 20%,rgba(54, 78, 90, 0) 100%),
    linear-gradient(90deg, rgb(31, 40, 46) 0%, rgba(37, 52, 59, 0.5) 3%, rgba(37, 52, 59, 0.2) 6%,rgba(54, 78, 90, 0) 100%),
    linear-gradient(270deg, rgb(31, 40, 46) 0%, rgba(37, 52, 59, 0.5) 3%, rgba(37, 52, 59, 0.2) 6%,rgba(54, 78, 90, 0) 100%),
    linear-gradient(360deg, rgb(31, 40, 46) 0%, rgba(37, 52, 59, 0.5) 10%, rgba(37, 52, 59, 0.2) 20%,rgba(54, 78, 90, 0) 100%);
    color: rgba(245, 245, 245, 0.931);
    border-color: rgb(177, 128, 15);
}

button.toggle:hover {
    background-color: rgb(53, 81, 94);
}
